body {
    background: #1d1d1d;
    font-family: 'Roboto', sans-serif;
}

img {
    padding-top: 100px;
    width: 35s0px;
    margin: 0 auto;
    display: block;
}

p, a {
    text-align: center;
    color: white;
}